<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row">
    <div class="center-large">
          <h4 class="center-align">Saved Applications</h4>
    </div>
</div>
<<<<<<< HEAD

{{#if job.length}}
  <div class="col-md-6 job-list">
    <h3>Saved Applications:</h3>

    {{#each job as |Job|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/job/{{job.id}}">{{job.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{job.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>
<script src="./js/profile.js"></script>
=======
<script src="./js/profile.js"></script>
>>>>>>> 033211770f407d04cc01d3ffeaf0e7779acd1f07
