<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row">
    <div class="center-large">
          <h4 class="center-align">Saved Applications</h4>
    </div>
</div>
<script src="./js/profile.js"></script>
