<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row">
    <div class="center-large">
          <h4 class="center-align">Saved Applications</h4>
    </div>
</div>

<div class="row">
    <div class="center align">
        <h3 class="col s12 l7 app-title"><span style="font-size: 3em"></span>
        <i class="{{job..class}}"></i>
        </span>{{tool.name}}</h4>
      <p class="col s12 p-size">{{tool.description}}</p>
    </div> 
</div>
<script src="./js/profile.js"></script>